@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
HTML, BODY
  { height: 100%;
    background-color: #071432;
}
.right {
  position: absolute;
  right: 0px;
  width: 300px;
  padding: 10px;
}
#s-text {
  font: 5em/1 Arial;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 5px;
  animation: stroke-offset 8s infinite;
}

.text-copy:nth-child(1) {
  stroke: #591058;
  stroke-dashoffset: 7%;
}

.text-copy:nth-child(2) {
  stroke: #946FBF;
  stroke-dashoffset: 14%;
}

.text-copy:nth-child(3) {
  stroke: #CCCCCC;
  stroke-dashoffset: 21%;
}

.text-copy:nth-child(4) {
  stroke: #6CBCCC;
  stroke-dashoffset: 28%;
}

.text-copy:nth-child(5) {
  stroke: #7285D6;
  stroke-dashoffset: 35%;
}

@keyframes stroke-offset {
  20% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  } }

  .button {
    position: fixed;
    top: 80%;
    left: 40%;
    /*background-color: #FFFFFF;*/
    background-color: #3d94f6;
    border: none;

    font-size: 28px;
    
    color: #071432;
    padding: 10px;
    width: 300px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }

  .button:after {
    content: "";
    background: #f1f1f1;


    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 2s
  }

  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
