
<html>
<head>

<link rel="stylesheet" type="text/css" href="apogee.css">
<link rel="stylesheet" href="jquery.countup.css" />
</head>
<body>
<div id="countdown"></div>
<h1 style="color:#fff; text-align:center; font-size:60px;z-index:25;">DEAL WITH DESTRUCTIONS</h1>
<canvas id="canvas">

</canvas>


<a href="http://www.google.com">
    <svg class="icon-arrow before">
        <use xlink:href="#arrow"></use>
    </svg>
    <span class="label">Let's Go</span>
    <svg class="icon-arrow after">
        <use xlink:href="#arrow"></use>
    </svg>
</a>

<svg style="display: none;">
  <defs>
    <symbol id="arrow" viewBox="0 0 35 15">
      <title>Arrow</title>
      <path d="M27.172 5L25 2.828 27.828 0 34.9 7.071l-7.07 7.071L25 11.314 27.314 9H0V5h27.172z "/>
    </symbol>
  </defs>
</svg>



<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
		<script src="jquery.countup.js"></script>
		<script src="apogee.js" type="text/javascript"></script>
</body>
</html>

    