{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<style type="text/css">
.board{
	width:343px;
	background: #ab9c8e;
	display: block;
}
.box {
	width:70px;
	height: 70px;
	margin-left: 10px;
	margin-top:10px;
	margin-bottom:0px;
	display: inline-block;
	background: #e9ded1;
	margin-right: 0px;
	padding-right: 0px;
}
.box-2{
	background: #eee4da;
}
.box-4{
	background:#ede0c8;
}
.box-8{
	background: #f2b179;
}
.box-16{
	background: #f59563;
}
.box-32{
	background:#f67c5f;
}
.box-64{
	background: #f65e3b;
}
.box-128{
	background: #edcf72;
}
.box-256{
	background: #edcc61;
}
.box-512{
	background: #edc850;
}
.box-1024{
	background: #edc53f;
}
.box-2048{
	background: #edc22e;
	box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
}
.edge {
	margin-right: 10px;
}
.last {
	margin-bottom: 10px;
}
.capture {
    background: transparent;
    border: none;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 20px;
}

</style>
<div class="container">


	<h2>2048</h2>

	<div ng-app="GameApp" ng-controller="GameCtrl" >
		<div class="row">
			<div class="col-md-offset-8 col-md-2">
				<button ng-click="renew()" class="btn btn-primary"><span class="glyphicon glyphicon glyphicon glyphicon-repeat" aria-hidden="true"></span>
				 New</button>
			 </div>
		</div>
		<br/>
		<div id="board" class="board" ng-keyup="key($event)" tabindex="1">
			<div class="box" ng-class="getClass(0)">
				<input ng-value="print(0)" disabled class="capture">
			</div>
			<div class="box" ng-class="getClass(1)">
				<input ng-value="print(1)" disabled class="capture">
			</div>
			<div class="box" ng-class="getClass(2)">
				<input ng-value="print(2)" disabled class="capture">
			</div>
			<div class="box edge" ng-class="getClass(3)">
				<input ng-value="print(3)" disabled class="capture">
			</div>
			<div class="box" ng-class="getClass(4)">
				<input ng-value="print(4)" disabled class="capture">
			</div>
			<div class="box" ng-class="getClass(5)">
				<input ng-value="print(5)" disabled class="capture">
			</div>
			<div class="box" ng-class="getClass(6)">
				<input ng-value="print(6)" disabled class="capture">
			</div>
			<div class="box edge" ng-class="getClass(7)">
				<input ng-value="print(7)" disabled class="capture">
			</div>
			<div class="box" ng-class="getClass(8)">
				<input ng-value="print(8)" disabled class="capture">
			</div>
			<div class="box" ng-class="getClass(9)">
				<input ng-value="print(9)" disabled class="capture">
			</div>
			<div class="box" ng-class="getClass(10)">
				<input ng-value="print(10)" disabled class="capture">
			</div>
			<div class="box edge" ng-class="getClass(11)">
				<input ng-value="print(11)" disabled class="capture">
			</div>
			<div class="box last" ng-class="getClass(12)">
				<input ng-value="print(12)" disabled class="capture">
			</div>
			<div class="box last" ng-class="getClass(13)">
				<input ng-value="print(13)" disabled class="capture">
			</div>
			<div class="box last" ng-class="getClass(14)">
				<input ng-value="print(14)" disabled class="capture">
			</div>
			<div class="box edge last" ng-class="getClass(15)">
				<input ng-value="print(15)" disabled class="capture">
			</div>
		</div>
		
	</div>

</div>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="//code.angularjs.org/1.5.8/angular-resource.min.js"></script>
<script src="{% static 'hammer.min.js'%}"></script>

<script>
	var app = angular.module('GameApp', ["ngResource"]);
	app.factory('Game', ['$resource',
	    function($resource) {
	      return $resource('/do', {}, {
	        renew: {
	          method: 'GET',
	          isArray: true
	        },
 			process: {
	          method: 'POST'
	        }
	      });
	    }
	]);
	app.config(['$httpProvider',function($httpProvider) {
		$httpProvider.defaults.xsrfCookieName = 'csrftoken';
		$httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
	}]);
	app.controller("GameCtrl",function($scope,Game){
		$scope.board = [];
		var UP=0;
		var DOWN=1;
		var LEFT=2;
		var RIGHT=3;
		var GAME_OVER=false;
		for(var i = 0;i<16;i++){
			$scope.board[i] = 0;
		}
		var hammertime = new Hammer(document.body);
		hammertime.get('swipe').set({ direction: Hammer.DIRECTION_ALL });
		hammertime.on('swipeleft', function(ev) {
			$scope.process(LEFT);
		});
		hammertime.on('swiperight', function(ev) {
			$scope.process(RIGHT);
		});
		hammertime.on('swipeup', function(ev) {
			$scope.process(UP);
		});
		hammertime.on('swipedown', function(ev) {
			$scope.process(DOWN);
		});
		$scope.key =function(event) {
			console.log(event.keyCode);
			var direction=-1;
			switch(event.keyCode){
				case 38:
					direction = UP;
					break;
				case 40:
					direction =DOWN;
					break;
				case 37:
					direction = LEFT;
					break;
				case 39:
					direction = RIGHT;
					break;
			}
			if(direction != -1) {
				$scope.process(direction);
			}
		}
		$scope.process = function(direction){
			if(GAME_OVER){
				alert("Game over");
				return;
			}
			Game.process({
				board:$scope.board,
				direction: direction
			}).$promise.then(showBoard);
		}
		var showBoard = function(response) {
			if(!response.continue) {
				alert("Game over");
				GAME_OVER=true;
			}else{
				$scope.board = response.board;
			}
		}
		$scope.renew = function() {
			$scope.board = Game.renew();
			GAME_OVER=false;
			document.getElementById('board').focus();
		}
		$scope.print = function(n){
			return $scope.board[n]==0?"":$scope.board[n];
		}
		$scope.getClass = function(n) {
			return $scope.board[n]==0?"":"box-"+$scope.board[n];
		}
		$scope.renew();
	});
</script>

{% endblock %}