
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
      <title>CB
</title>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- Bootstrap CSS -->
        <link href="{% static 'instructions.css' %}" rel="stylesheet" type="text/css">

    </head>
    <body>
  <h1>Deal With Distractions</h1>
  <h2>Instructions</h2>
  <div class="wrapper">
   <div class=" jumbotron text-box center-block">
      <p class="quote text-center">
         hallo das wird super!
         Instructions<br>
         Instructions<br>
         Instructions<br>
         Instructions<br>
         Instructions<br>
         Instructions<br>
         Instructions<br>
         Instructions<br>
         Instructions<br>
         Instructions<br>
         Instructions<br>
         Instructions<br>
         Instructions<br>



      </p>
      <a href = "/" id = "b"><b>READY TO PLAY</b></a>

   </div>

</div>

  <canvas id=c></canvas>

<script src="{% static 'instructions.js' %}"></script>
    </body>
</html>

